* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* Estilo para la barra de Waybar */
window#waybar {
    background-color: rgba(33, 33, 33, 0.90);  /* Gris muy oscuro con 8% de opacidad */
    border-bottom: 3px solid #ffffff; /* Barra inferior blanca sólida */
    color: #ffffff;  /* Texto blanco */
    transition-property: background-color;
}



window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

.custom-wlogout:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,#battery:hover,
.custom-spotify:hover,#clock:hover {
    background-color: #ffffff;  /* Fondo blanco */
    color: #000000;  /* Texto negro */
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);  /* Sombra blanca */
}




#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}


#workspaces{

    margin: 6px 3px;
    background-color: #ffffff;  /* Fondo gris claro y sólido */
    border: 2px solid #000000;  /* Borde blanco */
    border-radius: 12px;  /* Bordes redondeados */
    transition: all 0.3s ease;  /* Transición suave para todos los cambios */

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.custom-wlogout,
.custom-spotify,
#network.disconnected,
#network,
#pulseaudio,#pulseaudio.muted,#clock,#bluetooth,#battery {
 padding: 0px 8px;
    margin: 6px 3px;
    background-color: #333333;  /* Fondo gris claro y sólido */
    border: 2px solid #ffffff;  /* Borde blanco */
    border-radius: 12px;  /* Bordes redondeados */
    color: #ffffff;  /* Texto blanco */
    transition: all 0.3s ease;  /* Transición suave para todos los cambios */
}


#battery.charging, #battery.plugged {
    color: #39FF14;  /* Texto blanco */

}

#battery.charging:hover, #battery.plugged:hover {
 
    background-color: #39FF14; 
    color: #000000;  /* Texto negro */
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);  


}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #333333;  /* Fondo gris claro y sólido */
    color: #FF073A;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}




  
